body { 
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 20px;
    background-image: url('https://in.pinterest.com/pin/gallery-for-food-emoji-wallpaper-500x500--825073594212022828/');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header { 
    text-align: center;
    color: white;
    padding-top: 20px;
    margin-bottom: 40px; 
    background-color: #28a745;
    border-radius: 10px;
    height: 125px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.368);
}

#searchInput { 
    padding: 10px; 
    width: 60%; 
    border-radius: 5px; 
    border: 1px solid #ddd; 
}

#add-recipe { 
    background: white; 
    padding: 20px; 
    border-radius: 8px; 
    margin-top: 30px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.368);
    text-align: center;
}

form input, form textarea { 
    width: 100%; 
    padding: 10px;
    margin: 10px -10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

button { 
    background: #28a745; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    border-radius: 4px;
}

.recipe-grid { 
    display: grid; 
    grid-template-columns: 
    repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 20px; 
}

.recipe-card {
    background: white; 
    padding: 15px; 
    border-radius: 8px; 
    cursor: pointer; 
    text-align: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.368); 
}

.recipe-card img { 
    max-width: 100%; 
    border-radius: 5px; 
    height: 150px; 
    object-fit: cover; 
}

/* Modal Styles */

.modal { 
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.5); 
}

.modal-content { 
    background: white; 
    margin: 2% auto; 
    padding: 30px; 
    width: 90%;
    max-width: 1000px;
    max-height: 95vh;
    overflow-y: auto;
    border-radius: 15px; 
    margin-bottom: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
}

#modalDetails ol {
    text-align: left;
    padding-left: 20px;
    line-height: 1.6; 
}

#modalDetails li {
    margin-bottom: 10px; 
    color: #333;
}

.close { 
    float: right;
    position: absolute;
    right: 20px;
    top: 10px; 
    font-size: 28px; 
    cursor: pointer; 
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
}

.delete-btn:hover {
    background-color: #c82333;
}